@media (min-width: 1081px){
    #bodySec{
        /* background-color: #1c1a27; */
        
        background-color: #121213;
        font-family: 'Source Sans Pro', sans-serif;
    }


    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        display: none;
    }


    #cards-det
    {
        width: 22em;
        height: 40em;
        padding: 0;
        color: white;
        text-align: center;
        background-color: rgba(49, 53, 79, 0.589);
    }
    #card-name{letter-spacing: 5px;color:white;}
    #imgData{
        width: 100%;
        height: 250px;
    }
    #card-Row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #card-text,#card-text1,#card-text2, #card-text1-c, #card-text1-d,#card-text1-s, #card-text-danger, #card-text-success, #card-text-warning{
        width: auto;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #card-text-danger{border: 1px solid rgb(255, 0, 43);}
    #card-text-success{border: 1px solid rgb(2, 250, 77);}
    #card-text-warning{border: 1px solid rgb(236, 233, 14);}
    #card-text1-d{border: 1px solid rgb(255, 0, 43);}
    #card-text1-s{border: 1px solid rgb(2, 250, 77);}
    #card-text1-c{border: 1px solid rgb(236, 233, 14);}

    #searchBar{
        width: 50%;
        height: 3em;
        letter-spacing: 5px;
        text-align: center;
        border: 2px solid rgb(196, 26, 63);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        outline: none;
        box-shadow: none;
        
    }
    #search label{color: rgb(255, 255, 255);letter-spacing: 5px;font-size: large;}

    #card-Row1{
        display: inline;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #card-Row1 p{
        color: white;
        letter-spacing: 2px;
    }
    #card-text1{
        letter-spacing: 2px;
    }


    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 0%;
        display: inline-grid;
        width: 8%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
    
    #card-name,#card-name-bd{
        letter-spacing: 5px;
    }
    #card-name-bd{
        font-size: 2em;
        letter-spacing: 10px;
    }

    #bd{
        position: relative;
        left: 25%;
        width: 50%;
        color: white;
        background-color: #19191ba8;
        border: 2px solid rgb(93, 247, 93);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #card-text1,#card-text2, #card-text1-c, #card-text1-d,#card-text1-s{
        position: relative;
        left: 25%;
        width: 50%;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    
    #card-text1-d{border: 1px solid rgb(255, 0, 43);}
    #card-text1-s{border: 1px solid rgb(2, 250, 77);}
    #card-text1-c{border: 1px solid rgb(236, 233, 14);}
}

@media only screen and (max-width: 1080px) {
    #bodySec{
        /* background-color: #1c1a27; */
        
        background-color: #121213;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        display: none;
      }
    
    
    #cards-det
    {
        width: 20em;
        height: 40em;
        padding: 0;
        color: white;
        text-align: center;
        background-color: rgba(49, 53, 79, 0.589);
    }
    #card-name{letter-spacing: 2px;color:white;}
    #imgData{
        width: 100%;
        height: 250px;
    }
    #card-Row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #card-text,#card-text1, #card-text1-c, #card-text1-d,#card-text1-s, #card-text-danger, #card-text-success, #card-text-warning{
        width: auto;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #card-text-danger{border: 1px solid rgb(255, 0, 43);}
    #card-text-success{border: 1px solid rgb(2, 250, 77);}
    #card-text-warning{border: 1px solid rgb(236, 233, 14);}
    #card-text1-d{border: 1px solid rgb(255, 0, 43);}
    #card-text1-s{border: 1px solid rgb(2, 250, 77);}
    #card-text1-c{border: 1px solid rgb(236, 233, 14);}
    
    #searchBar{
        width: 50%;
        height: 3em;
        letter-spacing: 5px;
        text-align: center;
        border: 2px solid rgb(196, 26, 63);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        outline: none;
        box-shadow: none;
        
    }
    #search label{color: rgb(255, 255, 255);letter-spacing: 5px;font-size: large;}
    
    #card-Row1{
        display: inline;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #card-Row1 p{
        color: white;
        letter-spacing: 2px;
    }
    #card-text1{
        letter-spacing: 2px;
    }
    
    
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 0%;
        display: inline-grid;
        width: 8%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 25px;
        margin-right: 25px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
    
    #card-name,#card-name-bd{
        letter-spacing: 5px;
    }
    #card-name-bd{
        font-size: 2em;
        letter-spacing: 10px;
    }

    #bd{
        color: white;
        background-color: #19191ba8;
        border: 2px solid rgb(93, 247, 93);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #card-text1, #card-text1-c, #card-text1-d,#card-text1-s{
        position: relative;
        left: 25%;
        width: 50%;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    #card-text1-d{border: 1px solid rgb(255, 0, 43);}
    #card-text1-s{border: 1px solid rgb(2, 250, 77);}
    #card-text1-c{border: 1px solid rgb(236, 233, 14);}

}

/* @media only screen and (max-width: 580px) {

    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 0%;
        display: inline-grid;
        width: 8%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
    
    #searchBar{
        position: relative;
        left: 5%;
        width: 100%;
        
    }
    #search{
        width: 100%;
        text-align: center;
    }

    #cards-det{
        position: relative;
        left: 10%;
    }
    
    #card-name,#card-name-bd{
        letter-spacing: 5px;
    }
    #card-name-bd{
        font-size: 2em;
        letter-spacing: 10px;
    }

    #bd{
        color: white;
        background-color: #19191ba8;
        border: 2px solid rgb(93, 247, 93);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #card-text1, #card-text1-c, #card-text1-d,#card-text1-s{
        position: relative;
        left: 25%;
        width: 50%;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    #card-text1-d{border: 1px solid rgb(255, 0, 43);}
    #card-text1-s{border: 1px solid rgb(2, 250, 77);}
    #card-text1-c{border: 1px solid rgb(236, 233, 14);}
    

} */

@media only screen and (max-width: 580px) {
    .navContainer{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.5em;
        z-index: 1000;
        background: linear-gradient(to right, #131313, #24243e);
    }
    .navContainer > ul{
        display: inline;
    }
    .navContainer > ul > a{
        position: relative;
        left: 0%;
        display: inline-grid;
        width: 8%;
        font-size: 0.9em;
        height: auto;
        text-align: center;
        align-content: center;
        text-decoration: none;
        list-style: none;
        background-color: rgba(255, 4, 4, 0);
    }
    #navList,#navList-t{
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: rgb(255, 255, 255);
    }
    #navList-t{
        line-height: 0;
        letter-spacing: 5px;
    }
    #navList img{
        position: relative;
        margin-top: 15px;
    }
    
    #searchBar{
        position: relative;
        left: 5%;
        width: 100%;
        
    }
    #search{
        width: 100%;
        text-align: center;
    }
    
    #cards-det{
        position: relative;
        left: 5%;
        width: 25em;
        height: 45em;
    }
    #card-name,#card-name-bd{
        letter-spacing: 5px;
    }
    #card-name-bd{
        font-size: 2em;
        letter-spacing: 10px;
    }

    #bd{
        color: white;
        background-color: #19191ba8;
        border: 2px solid rgb(93, 247, 93);
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    #card-text1, #card-text1-c, #card-text1-d,#card-text1-s{
        position: relative;
        left: 25%;
        width: 50%;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    #card-text2
    {
        position: relative;
        left: 0%;
        width: 100%;
        color: white;
        margin: 5px;
        padding: 5px;
        text-align: center;
        background-color: rgb(31, 34, 43);
        border: 1px solid rgb(0, 195, 255);
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
    }
    #card-text1-d{border: 1px solid rgb(255, 0, 43);}
    #card-text1-s{border: 1px solid rgb(2, 250, 77);}
    #card-text1-c{border: 1px solid rgb(236, 233, 14);}
    

}
